* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    scrollbar-width: thin;
    scrollbar-color: #444e4e #2c3333;
}
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #2c3333;
}

*::-webkit-scrollbar-thumb {
    background-color: #444e4e;
    border-radius: 20px;
    border: 3px solid #2c3333;
}
.bold {
    font-weight: 800;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #2c3333;
    color: #eaf4f1;
}
table {
    margin: 1em;
    width: 95%;
    position: static;
    border-collapse: collapse;
    table-layout: fixed;
}
table > caption {
    font-size: 1.5rem;
    font-weight: 100;
    padding-bottom: 1rem;
}
th {
    width: 3rem;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    padding-bottom: 1rem;
}
tbody {
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
}
td {
    width: 2rem;
}
tr {
    height: 3.2rem;
}
tr > th {
    font-weight: 300;
}
thead > tr > th {
    font-weight: 500;
}
.col1 {
    width: 2rem;
    font-size: 1.2rem;
}

.m:hover,
.t:hover,
.w:hover,
.th:hover,
.f:hover,
.s:hover {
    outline: #eaf4f1 solid 0.1rem;
    filter: brightness(1.2);
}
footer {
    margin-top: auto;
    bottom: 0;
    background-color: #202525;
    font-size: 1rem;
    font-weight: 100;
    padding: 1rem 0;
    text-align: center;
}
.ft-name {
    padding-bottom: 0.5rem;
}
.img-logo-ft {
    padding: 0 0.5rem;
    filter: grayscale(0.5);
}
.img-logo-ft:hover {
    filter: brightness(1.5);
}

.LAB {
    background: #2c74b3;
}

.TUT {
    background: #144272;
}

.LEC {
    background: #205295;
}

.col1 {
    font-size: 0.8rem;
}